bin/*
lst/*

# LateX
docs/*.aux
docs/*.fdb_latexmk
docs/*.fls
docs/*.lof
docs/*.log
docs/*.out
docs/*.synctex.gz
docs/*.tex~
docs/*.toc
docs/*.xcf

builddate
buildnum

ToDo.txt

# The Telemark Assembler (TASM)
TASM.EXE
TASM80.TAB